@font-face {
  font-family: "PixelifySans";
  src: url("fonts/PixelifySans.woff2");
}

@font-face {
  font-family: "SpaceMono";
  src: url("fonts/SpaceMono-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SpaceMono";
  src: url("fonts/SpaceMono-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "SpaceMono";
  src: url("fonts/SpaceMono-Italic.ttf");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "SpaceMono";
  src: url("fonts/SpaceMono-BoldItalic.ttf");
  font-weight: bold;
  font-style: italic;
}

:root {
  --primary: #ffd60a;
  --secondary: #ffc400;
  --btn-primary: #000;
}

body {
  background: white;
  color: black;
  font-family: "SpaceMono";
  scrollbar-width: thin;
  scrollbar-color: var(--primary) #000;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #000;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: 8px;
}

::selection {
  background: var(--primary);
  color: black;
}
button.btn0::selection,
button.btn2::selection {
  background: black;
  color: var(--primary);
}
button.btn1::selection,
button.btn3::selection {
  background: black;
  color: white;
}
.ib::selection, a::selection {
  background: black;
  color: var(--primary);
}

button {
  border: none;
  outline: none;
  border: 1px solid var(--btn-primary);
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
  transition: all 0.3s ease;
  box-shadow: 0 6px 0 var(--btn-primary);
  font-family: "SpaceMono";
  font-size: 16px;
  margin: 8px;
}

button.btn0,
button.btn1 {
  padding: 0px 10px;
  min-width: 100px;
  height: 44px;
}

button.btn2,
button.btn3 {
  min-width: 44px;
  height: 44px;
}

.btn0,
.btn2 {
  background: var(--primary);
  color: black;
}

.btn0:hover,
.btn2:hover {
  background: #ffd814;
}

.btn1,
.btn3 {
  background: white;
  color: black;
}

button:hover {
  box-shadow: 0 6px 0 var(--btn-primary);
}

button.active,
.btn0:active,
.btn1:active,
.btn2:active,
.btn3:active {
  box-shadow: 0 0px 0 var(--btn-primary);
  transform: translateY(6px);
}

button[data-tooltip] {
  position: relative; /* Required for tooltip positioning */
}

button[data-tooltip]:hover::after {
  content: attr(
    data-tooltip
  ); /* Get tooltip text from data-tooltip attribute */
  position: absolute;
  top: calc(100% + 8px); /* Position below the button */
  left: 50%;
  transform: translateX(-50%); /* Center the tooltip horizontally */
  background-color: var(--primary);
  color: #000;
  padding: 5px 10px;
  border: 1px solid #000;
  border-radius: 4px;
  font-size: 12px;
  white-space: nowrap; /* Prevent tooltip text from wrapping */
  opacity: 0; /* Initially hide the tooltip */
  transition: opacity 0.2s ease-in-out;
  z-index: 10;
}

button.nav[data-tooltip]:hover::after {
  content: attr(data-tooltip);
  top: calc(100% / 5.4);
  left: calc(100% + 8px);
  transform: translateX(0%);
}

button[data-tooltip]:hover::after {
  opacity: 1;
}

button:active[data-tooltip]:hover::after {
  opacity: 0;
}

.ib {
  font-weight: bold;
  font-style: italic;
  background: var(--primary);
}

.container {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: row;
  height: 100%;
  width: 100%;
  position: relative;
}

h1 {
  color: var(--btn-primary);
  font-size: 3rem;
  line-height: inherit;
  margin: 0;
}

h2 {
  color: var(--btn-primary);
  font-size: 2rem;
  line-height: inherit;
  margin: 0;
}

h3 {
  color: var(--btn-primary);
  font-size: 1.5rem;
  line-height: inherit;
  margin: 0;
}

h4 {
  color: var(--btn-primary);
  font-size: 1rem;
  line-height: inherit;
  margin: 0;
}

h5 {
  color: var(--btn-primary);
  font-size: 0.75rem;
  line-height: inherit;
  margin: 0;
}

h6 {
  color: var(--btn-primary);
  font-size: 0.5rem;
  line-height: inherit;
  margin: 0;
}

p {
  margin: 8px;
}

a {
  color: var(--btn-primary);
  font-weight: bold;
  font-style: italic;
  background: var(--primary);
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: 54px;
  position: fixed;
}

.main {
  width: calc(100% - 64px);
  height: 100%;
  margin-left: 64px;
  text-align: center;
}

.alphabets0,
.alphabets1 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.alphabets1 {
  display: none;
}

.skills {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.carousel {
  min-height: 68px;
  max-height: 272px;
  padding-bottom: 28px;
  overflow: hidden;
}

.carousel-track1 {
  display: none;
}

@media (max-width: 768px) {
  @keyframes slideIn {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%); /* Adjust slide distance as needed */
    }
  }
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 1rem;
  }
  h4 {
    font-size: 0.75rem;
  }
  h5 {
    font-size: 0.5rem;
  }
  h6 {
    font-size: 0.25rem;
  }
  .container {
    flex-direction: column;
    justify-content: center;
  }
  nav {
    flex-direction: row;
    position: fixed;
    top: 0;
    right: 192px;
  }
  .main {
    width: 100%;
    margin-left: 0;
  }
  .alphabets0 {
    display: none;
  }
  .alphabets1 {
    display: flex;
  }
  .carousel {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: row;
    position: relative;
  }
  .carousel-track0,
  .carousel-track1 {
    display: flex;
    transition: transform 0.3s ease-in-out;
    animation: slideIn 16s infinite linear;
    width: 300vw;
  }
  .carousel-track0 button,
  .carousel-track1 button {
    flex: 0 0 calc(100% / 54px);
  }
  .carousel:hover {
    .carousel-track0,
    .carousel-track1 {
      animation-play-state: paused;
    }
  }
  button.nav[data-tooltip]:hover::after {
    content: attr(data-tooltip);
    top: calc(100% + 8px); /* Position below the button */
    left: 50%;
    transform: translateX(-50%);
  }
}

@media (max-width: 435px) {
  .main {
    height: fit-content;
  }
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
